<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Testing...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div id="data" data="{{data}}"></div>
    </div>
    <script src="{{ url_for('static', path='js/plotly-2.14.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    
</body>
</html>
